@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.ul {
    list-style: none;
}

.container {
    width: 1030px;
    margin: 0 auto;
}

.background {
    background: url(../img/background.png);
    min-width: 100%;
    height: 100vh;
    /* min-height: 100%; */
    top: 0;
    left: 0;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.plot-container {
    width: 1030px;
    margin: 0 auto;
    /* max-width: 1023px; */
    /* max-width: calc(max(300px * 3 + 80px)); */
    /* margin: 46px 178px 15px 161px; */
    /* margin-right: 178px;
    margin-left: 161px; */
}

.header {
    /* margin-top: 46px; */
    margin: 46px auto 17px;
    display: flex;
    justify-content: space-between;
}

.header:hover {
    color: rgba(242, 101, 34, 1);
}

.tours-block-label:hover {
    color: rgba(242, 101, 34, 1);
}





.content-header__logo {
    position: relative;
    float: left;
    height: 44px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}
.content-header__logo a, 
.content-services a {
    display: block;
}
.content-header__logo-img {
    float: left;
    margin: 0 15px 0 0;
    width: 46px;
    height: 44px;
    background-image: url(../img/png-logo.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.content-header__logo-name-item1,
.content-header__logo-name-item2 {
    display: inline-block;
    line-height: 0.68em;
    position: absolute;
}
.content-header__logo-name-item1 {
    top: 0;
    font-size: 29px;
}
.content-header__logo-name-item2 {
    bottom: 0.07em;
    font-size: 18px;
}

.content-header__logo a {
    color: rgba(255, 255, 255, 1);
    font-family: Roboto, sans-serif;
}

.content-header__logo:hover a {
    color: #f26522;
}
.content-header__logo:hover div.content-header__logo-img {
    background-image: url(../img/png-logo-hover.png)
}


.header-contacts {
    /* margin-top: 0px; */
    /* height: 51px; */
    text-align: right;
    display: flex;
    align-items: space-between;
    /* width: 50%; */
}

.ul-header-contacts {
    list-style: none;
    margin: 0px auto;
}

.email{
    margin-bottom: 19px;
}

.ul-header-contacts>li>a {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.ul-header-contacts>li>a:hover {
    color: rgba(242, 101, 34, 1);
}

/* .portfolio {
    display: grid;
    grid-template: repeat(4, 300px) / repeat(3, 220px);
    grid-gap: 78px 61px;
    justify-content: center;
    margin-top: 17px;
} */

.tours {
    /* width: 1023px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tours-block-container {
    /* margin: 0px 61px 37px 0px; */
    /* margin-top: 0px; */
    margin-bottom: 37px;
    /* margin-right: 32px; */
    overflow: hidden;
    position: relative;
}


/* .image {
    max-height: 220px;
    max-width: 300px;
    margin-bottom: 0px;
} */

.tours-block-label {
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 255, 255, 1);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
}

.orange-rectangle {
    background-color: rgba(242, 101, 34, 1);
    height: 55px;
    width: 100vh;
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: -100px;
    display: flex;
    flex-flow: column nowrap;
    color: rgba(255, 255, 255, 1);
}

.tours-block-container:hover .orange-rectangle {
    bottom: 53px;
}

.container-info {
    margin: 7px 14px 12px 16px;
    height: 36px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.fl-el-from {
line-height: 10px;
font-size: 10px;
}

.fl-el-price-details {
    display: inline-flex;
    align-items: center;
    line-height: 20px;
    height: 44px;
}

.fl-el-price {
    font-size: 20px;
    line-height: 20px;
    margin-right: 128px;
}

.fl-el-details {
    font-size: 14px;
    line-height: 14px;
    /* margin-right: 25px; */
}

.fl-el-details::after {
    content: ">";
    width: 5px;
    height: 10px;
    margin-left: 10px;
}

.footer {
    margin: 49px auto 15px ;
    /* margin-bottom: 15px; */
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12ps;
    color: rgba(255, 255, 255, 1);
}