@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page-container {
    max-width: 1480px;
    margin: 0 auto;
    font-family: Roboto, Arial, sans-serif;
}

.plot-container {
    margin: 61px 99px 30px 98px ;
}

.text-logo {
    margin-bottom: 38px;
}

.logo-link {
    /* font-family: Roboto;
    font-weight: 400;
    font-style: normal; */
    font-size: 80px;
    line-height: 94px;
    color: #000000 ;
}

.blue-letters {
    color: #66cccc;
}

.navigation {
    background-color: #35444f;
    height: 72px;
    text-align: center;
}

.ul-navigation>li {
    display: inline-block;
    font-size: 24px;
    padding: 21px 38px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;

}

.ul-navigation>li:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-color: #222F3A;
} 

.ul-navigation>li>a {
    color: #FFFFFF;
}

.main-container {
    margin: 50px 0;
}

.left-main-container,
.right-main-container {
    display: inline-block;
    vertical-align: top;
}

.left-main-container {
    /* width: 344px;
    /* height: 399px; */
    border: 1px solid rgba(0, 0, 0, 1);
    margin: 0 53px 0 0;
    padding-left: 0px;
    list-style: none;
    font-size: 27px;
    line-height: calc(399px / 5);
}

.left-main-container>li>a {
    display: block;
    margin: 0 auto 0 44px;
    padding-right: 96px;
    /* font-family: Roboto; */
    /* font-weight: 400; */
    /* font-style: normal; */
    /* font-size: 27px; */
    color: rgba(72, 88, 99, 1);
}

.left-main-container>li:hover {
    background: #DBDBDB;
    font-weight: bold;
    color: black;
    text-align: center;
}

.right-main-container {
    width: 880px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 24px;
    /* color: rgba(44, 44, 44, 1); */
    letter-spacing: 1px;
}

.image-right-main-container {
    border: 1px solid rgba(0, 0, 0, 1);
}

.image-ram {
    height: 381px;
    width: 320px;
    padding: 75px 268px 73px 297px;
}

.image-ram:hover {
    height: 532px;
    width: auto;
    padding: 0 268px 0 230px;
    transition-timing-function: ease;
    transition-duration: 1s;
}

.first-paragraph {
    margin: 42px 0 40px 0;
}

.second-paragraph {
    margin: 0;
}

.footer {
    width: auto;
    background: rgba(99, 105, 110, 0.48);
    line-height: 69px;
}

.footer-navigation {
    display: inline-block;
    margin: 0 100px 0 43px;
    padding: 0;
}

.footer-navigation>li {
    display: inline-block;
    margin-right: 30px;
}

.footer-navigation>li>a {
    color: black;
    font-size: 28px;
}

.footer-navigation>li>a:hover {
    color: #00826f;
    border-bottom: 1px solid #00826f;
    padding-bottom: 10px;
}

.copyright {
    display: inline-block;
    font-size: 24px;
}