@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

a{
    text-decoration: none;
    color: #FF0000;
    font-family: "Montserrat", sans-serif;
}

.header {
    text-align: center;
}

.header-menu {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.header-menu li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #FF0000;
    padding: 25px;
}

.background {
    background: url("/img/background.png");
    height: calc(100vh - 150px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 789px;
}

.title {
    color: #373737;
    font-weight: 700;
    text-transform: uppercase;
    text-align:center;
    font-size: 22px;
    padding-top: 49px;
    margin: 0px auto;
    font-family: "Montserrat", sans-serif;
}

.sub-title-first {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #373737;
    padding-top: 38px;
    padding-left: 67px;
    padding-right: 67px;
    margin: 0px auto;
}

.sub-title-second {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #373737;
    margin: 0px auto;
    padding-top: 28px;
    padding-left: 67px;
    padding-right: 67px;
}

.get-started-button {

    display: block; 
    align-items: center;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 12px;
    margin: 66px auto 82px;
    margin-left: auto;
    background: #FF0000;
    border: none;
    border-radius: 4px;
    width: 191px;
    height: 51px;
}

.footer-copyright {
    text-align: right;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #373737;
    font-weight: 700;
    font-style: normal;
    margin-right: 105px;
}