/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu&display=swap') */

a {
    text-decoration: none;
    outline: none;
}

.background {
    background: url(../img/table.png);
    min-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER BLOCK */

.content-header {
    width: 100%;
    min-height: 56px;
    background: rgba(0, 0, 0, 0.4);
}

.content-header-logo {
    float: left;
    margin: 18px 0px 18px 79px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}

.content-header-logo a {
    color: #ffffff;
}

.content-header-logo a:hover {
    color:rgba(60, 184, 120, 255)
}

.content-header-login-signup {
    float: right;
    margin: 22px 79px 22px 27px;
    padding-left: 47px;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.content-header-login-signup a {
    color: #ffffff;
}

.content-header-login-signup a:hover {
    color: rgba(60, 184, 120, 255);
}

.content-header-navigation {
    float: right;
    display: block;
    margin: 17px 25px 17px 0px;
}

.content-header-navigation .nav-icon1,
.content-header-navigation .nav-icon2,
.content-header-navigation .nav-icon3 {
    display: inline-block;
    margin-left: 28px;
    background-repeat: no-repeat;
    background-image: url(../img/icons/icon-white.png);
}

.nav-icon1 {
    width: 20px;
    height: 20px;
    background-position: 0 0;
}
.nav-icon2 {
    width: 28px;
    height: 20px;
    background-position: -47px 0;
}
.nav-icon3 {
    width: 20px;
    height: 20px;
    background-position: -103px 0;
}
.nav-icon1:hover,
.nav-icon2:hover,
.nav-icon3:hover {
    background-image: url(../img/icons/icon-hover.png);
}


/* MAIN BLOCK */

.plot-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-sign-up-form {
    width: 444px;
    height: 634px;
    background: rgba(255, 255, 255, 1);
}

.sign-up-form {
    width: 325px;
    margin: 31px auto 38px;
    text-align: center;
}

.sign-up-form-header,
.sign-up-form-social-networks {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: baseline;
}

.sign-up-form-header {
    margin: auto;
}

.sign-up-form-header-sign-up {
    font-size: 20px;
    text-transform: capitalize;
    color: rgba(67, 67, 67, 1);
}

.sign-up-form-header-sign-up::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: -59.5px;
    width: 18px;
    height: 18px;
    background: rgba(60, 184, 120, 255);
}

.sign-up-form-header-log-in {
    font-size: 14px;
    display: block;
    text-transform: capitalize;
    color: rgba(60, 184, 120, 255);
}

.sign-up-form-header-log-in:hover {
    text-decoration: underline;
}

/* SOCIAL MEDIA BUTTONS */

.sign-up-form-social-networks {
    margin: 15px 0 33px 0;
}

.social-network-facebook,
.social-network-google {
    display: block;
    width: 157px;
    height: 46px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    border-radius: 2px;
}

.social-network-facebook {
    background: rgba(48, 93, 184, 1);
}

.social-network-google {
    background: rgba(223, 74, 50, 1);
}

.social-network-icon {
    float: left;
    height: 20px;
    text-align: center;
    background: url(../img/icons/icons-social-networks.png);
}

.social-network-icon.facebook {
    background-position: 0 0;
    margin: 12px 0 12px 17px;
    width: 24px;
}

.social-network-icon.google {
    background-position: -157px 0;
    margin: 15px 0 14px 12px;
    width: 26px;
}

.social-network-facebook .social-network-name,
.social-network-google .social-network-name {
    float: right;
    padding: 5px 0 7px 0;
    margin: 9px 0;
    width: 109px;
    text-align: center;
    border-left: 1px solid rgba(67, 67, 67, 0.2);
}

.social-network-facebook:hover {
    background: rgba(2, 34, 99, 1);
}

.social-network-google:hover {
    background: rgba(171, 31, 9, 1);
}

/* DIVIDER */

.sign-up-form .divider {
    font-size: 14px;
    color: rgba(132, 132, 132, 1);
    margin: 0 0 7px 0;
}
.sign-up-form .divider span {
    display: inline-block;
    position: relative;
}
.sign-up-form .divider span::before {
    right: 100%;
    margin: 0 15px 0 0;
}
.sign-up-form .divider span::after {
    left: 100%;
    margin: 0 0 0 15px;
}
.sign-up-form .divider span::before,
.sign-up-form .divider span::after{
    content: "";
    position: absolute;
    top: 8px;
    display: block;
    width: 141px;
    height: 1px;
    border-top: 1px solid #f2f2f2;
}


/* SIGN-UP FORM - CREDENTIALS */

.sign-up-form-credentials legend {
    text-align: center;
    border-left: 19px solid #ffffff;
    border-right: 19px solid #ffffff;
    font-size: 0.7rem;
    color: rgba(132, 132, 132, 255);
}

.sign-up-form-credentials input,
.sign-up-form-submit input {
    height: 46px;
    width: 324px;
}

.sign-up-form-credentials input {
    /* margin: 0px 0px 8px 0px; */
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    padding: 0 0 0 19px;
}

.sign-up-form-credentials input::placeholder {
    color: rgba(190, 190, 190, 1);
}
.sign-up-form-credentials input:focus {
    outline: none;
    box-shadow: 0 0.1rem 0.3rem #dbdbdb;
}
.sign-up-form-credentials input:focus::placeholder {
    color: transparent;
    opacity: 0;
}

.sign-up-form-gdpr input[type="checkbox"] {
    display: none;
}

/* TOGGLE BOX */

.gdpr-compliance-toggle {
    margin: auto;
    cursor: pointer;
    user-select: none;
}
.gdpr-compliance-toggle .toggle-box {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    transition: .2s ease;
}

.gdpr-compliance-toggle .toggle-box::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(60, 184, 120, 255);
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.gdpr-compliance-toggle .toggle-box svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all .3s ease;
    transition-delay: .1s;
    transform: translate3d(0,0,0);
}

.sign-up-form-gdpr {
    margin: 16px 0 0 0;
    font-size: 0.7rem;
    font-weight: 700;
    text-align: left;
}
.sign-up-form-gdpr a {
    color: rgba(60, 184, 120, 255);
}
.sign-up-form-gdpr a:hover {
    text-decoration: underline;
}
#gdpr-compliance-item:checked + .gdpr-compliance-toggle .toggle-box {
    animation: wave .4s ease;
}
#gdpr-compliance-item:checked + .gdpr-compliance-toggle .toggle-box::before {
    transform: scale(3.5);
    opacity: 0;
    transition: all .6s ease;
}
#gdpr-compliance-item:checked + .gdpr-compliance-toggle .toggle-box svg {
    stroke: rgba(60, 184, 120, 255);
    stroke-dashoffset: 0;
}

.sign-up-form-submit input {
    width: 100%;
    margin: 28px auto 0;
    border: 1px solid rgba(60, 184, 120, 255);
    background: rgba(60, 184, 120, 0.8);
    color: #ffffff;
    font-size: 0.8rem; 
    border-radius: 2px;
}

.sign-up-form-submit input:hover {
    background: #01813F;
}